*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
     /* web bg color */
    background: transparent; 
    
}


.navbar{
    position: fixed;
    background-color:transparent; /* navbar color*/
    width: 100%;
    padding: 0 10px;
    top: 0;
    z-index: 999;
    transition: .3s linear;

}

.innerwidth{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;

}

.navbar .innerwidth{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span{
    display: block;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-menu a{
    background: transparent;
 color:#000000; /* before hover navbar text color*/
 position: relative;
 left: 13%;
 font-size: 50px;
 font-weight: 500;
 margin-left: 50px;
 transition: .2s linear;  
}

.navbar-menu a:hover{
    color:  #ffb341 !important;
}


.sticky{
    background-color: rgba(0, 0, 0, 0);  /* navbar hover */
    padding: 18px 0;

}

.sticky .navbar-menu a{
 color:#635a6d00;  /* scrolling color of nav-bar */

}

.sticky .menu-toggler span{
    background-color: rgba(0, 0, 0, 0);

}



/* Three columns side by side */
.column {
    position: relative;
    left: 300px;
    top: 70px;
    width: 900px;
    margin-bottom: 10px;
    float: left;
    background: transparent;  
    padding: 20px 10px; 
    border: grey 2px solid;
    border-radius: 15px;
    
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 200px) {
    .column {
      width: 50px;
      display: block;
      
    }
  }
  
  /* Add some shadows to create a card effect */
 
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 0;
 
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    
  }
  
  .title {
    color: #FFEBCD;
  }
  