*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
     /* web bg color */
     background-color:black;

}


.navbar{
    position: fixed;
    background-color:rgba(0, 0, 0, 0.219); /* navbar color*/
    width: 100%;
    padding: 0 10px;
    top: 0;
    z-index: 999;
    transition: .3s linear;

}


.navbar-menu a{
    background: transparent;
    color:#a3fff9b7; /* before hover navbar text color*/
    position: relative;
    left: 13%;
    font-size: 50px;
    font-weight: 500;
    margin-left: 50px;
    transition: .2s linear;  
}

.navbar-menu a:hover{
    color:  #e0a526 !important;
}

.sticky{
    background-color: rgba(143, 137, 137, 0);  /* navbar hover */
    padding: 0 0;

}

.sticky .navbar-menu a{
 color:#ffffff27;  /* scrolling color of nav-bar */

}

#home{
    height: 150vh;
    min-height: 500px;
   /* background:url(../images/bgmain.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed ;
   */
   position: relative;
   top: 100px;
   
}

#home .inner-width{
display:flex;
align-items: center;
justify-content:center;
height: 100%;
text-align: center;
}

.video{
    position: relative;
    left: 40px;
}